@page "/detalles/EditarDetalle/{id:int}"
@using ProyectoFinal.Data
@inject DetalleService DetalleService
@inject NavigationManager navigation 

<h3>@mensaje</h3>

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h4>Fecha</h4>
    <InputText @bind-Value="Modelo.Fecha" />
    <h4>Tiempo</h4>
    <InputText @bind-Value="Modelo.Tiempo" />
    <h4>Recurso</h4>
    <InputSelect @bind-Value="Id_Recurso">
        <option value="0">Elija un recurso</option>
        @foreach (var item in recursos)
        {
            <option value="@item.UsuarioId">@item.Nombre</option>
        }
    </InputSelect>


    <button type="submit">Guardar</button>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }

    public Detalle Modelo { get; set; } = new Detalle();
    public string Id_Recurso { get; set; }
    public string mensaje;
    private List<Recurso> recursos;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await DetalleService.Get(Id);
            Id_Recurso = Modelo.RecursoId.ToString();
            mensaje = "Editar Detalle";

        }
        else
        {
            Modelo = new Detalle();
            mensaje = "Nuevo Detalle";
        }

        recursos = await DetalleService.GetRecursos();

    }


    private async void Guardar()
    {
        Modelo.RecursoId = int.Parse(Id_Recurso);
        await DetalleService.Save(Modelo);
        navigation.NavigateTo("detalles/ListadoDetalles");
    }

}
